.defaultDashboard {
  width: 100vw;
  height: 100vw;
  background-color: yellow;
}

.inputTitle {
  display: flex;
  font-family: "Prompt";
  text-align: initial;
  font-size: 17px;
  align-items: initial;

  div {
    width: 150px;
    text-decoration: underline;
    height: 30px;
    font-family: "Prompt";
    text-align: initial;
    // background-color: blue;
    // margin-right: 8vw;
  }
}

.staff-container {
  margin-top: 3vh;
}
.listOfUsers {
  display: grid;
  grid-template-columns: 3% 13% 14% 17% 18% 11% 14% 10%;
  font-family: "Prompt";
  text-align: initial;
  font-size: 17px;
  align-items: initial;
  margin-left: 16vw;
  .staff-number {
    width: 91%;
    height: 30px;
    padding-left: 4px;
    font-family: "Prompt";
    text-align: initial;
    border: none;
    font-size: 17px;
    color: black;
    padding-top: 8px;
  }
  .title {
    width: 91%;
    height: 30px;
    padding-left: 4px;
    font-family: "Prompt";
    text-align: initial;
    border: none;
    font-size: 17px;
    color: black;

    // align-items: initial;
  }
  .title:disabled::placeholder {
    width: 91%;
    height: 30px;
    // padding-left: 4px;
    font-family: "Prompt";
    text-align: initial;
    color: black;
    border: none;

    font-size: 17px;

    // align-items: initial;
  }
  //   .title:focus {
  //     border-style: solid;
  //     border-width: 0.5px;
  //     color: grey;
  //   }
}
.title_disabled {
  width: 91%;
  // padding-left: 4px;
  height: 30px;
  font-family: "Prompt";
  text-align: initial;
  color: black;
  border: none;
  font-size: 16px;
}

.staff_entry_container {
  display: grid;
  grid-template-columns: 3% 13% 14% 17% 18% 11% 14% 10%;
  margin-left: 16vw;
  // margin-left: 100px;

  .staff_entry {
    width: 91%;
    padding-left: 4px;
    margin: 0px;
    height: 30px;
    font-size: 17px;
    font-family: "Prompt";
    text-align: initial;
    border-style: none;
  }
  .staff_entry:focus {
    border-style: solid;
    border-width: 0.5px;
    color: black;
  }
}

.edit_delete_container {
  display: flex;
}
.delete_button_staff {
  background-image: url(../assets/trash-icon-grey.svg);
  background-position: center;
  background-position-y: -37px;
  background-size: 76px;
  z-index: 1;
  height: 30px;
  width: 30px;
  position: relative;
  background-repeat: no-repeat;
}

.delete_button_staff:hover {
  background-image: url(../assets/trash-icon.svg);
}

.edit_button_staff {
  background-image: url(../assets/edit-icon-grey.svg);
  background-position: center;
  background-position-y: -37px;
  background-size: 76px;
  z-index: 1;
  height: 30px;
  width: 30px;
  position: relative;
  background-repeat: no-repeat;
}
.edit_button_staff:hover {
  background-image: url(../assets/edit-icon.svg);
}

.save_button_staff {
  background-image: url(../assets/save-icon-grey.svg);
  background-position: center;
  background-position-y: -37px;
  background-size: 76px;
  z-index: 1;
  height: 30px;
  width: 30px;
  position: relative;
  background-repeat: no-repeat;
}
.save_button_staff:hover {
  background-image: url(../assets/save-icon.svg);
}

.cancel_button_staff {
  background-image: url(../assets/cancel-icon-grey.svg);
  background-position: center;
  background-position-y: -37px;
  background-size: 76px;
  z-index: 1;
  height: 30px;
  width: 30px;
  position: relative;
  background-repeat: no-repeat;
}
.cancel_button_staff:hover {
  background-image: url(../assets/cancel-icon.svg);
}

.submit_new_staff_plus {
  background-image: url(../assets/add-icon-grey.svg);
  background-position: center;
  background-position-y: -37px;
  background-size: 76px;
  z-index: 1;
  height: 30px;
  width: 30px;
  position: relative;
  background-repeat: no-repeat;
  margin-left: 18px;
}
.submit_new_staff_plus:hover {
  background-image: url(../assets/add-icon.svg);
}

.blank {
  display: none;
}

.emergency-dash-page{
  display: flex;
  flex-direction: column;
  // align-items: center;

  .emergency-header{
    width: 100vw;
    height: 6vh;
    background-color: #eeff00;
    h1{
      margin-top: 1vh;
    }
  }
  .emergency-page-container{
    display: flex;
    flex-direction: row;
  }
  .staff-styles{
    height: 100vh;
    width: 50%;

   
  }
  .chat-styles{
    height: 100vh;
    width: 50%;
    background-color: #cccccc;
  }

  .logout-button {
    margin: 14px;
    float: right;
    font-family: "Prompt";
    font-size: 12px;
    font-weight: 500;
    border: #000000;
    background-color: transparent;
    border-style: solid;
    border-radius: 5px;
    border-width: 3px;
    width: 100px;
    height: 28px;
  }

  .logout-button:hover {

    float: right;
    font-family: "Prompt";
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    background-color: #0088ff;
    border-style: none;

  }

  .logout-button:active{
    background-color: #0088ff;
    color: #ffffff;
    border-style: none;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
  }

}

.admin-chat-page{
  .send-message-container{
    position: fixed;
    width: 50vw;
    bottom: 0;
    padding: 1rem;
    height: 5vh;
    background-color: #444444;
    

  }
  input{
    background-color: #000000;
    color: #cccccc;
    border: none;
    width: 40vw;
    height: 5vh;
    margin: 0;
    padding: 0;
    border-radius: 10px 0px 0px 10px;
    text-indent: 12px;
    font-size: 20px;
  }
  .send-button{
    background-color: #EEFF00;
    color: #000000;
    height: 5vh;
    border: none;
    border-radius: 0px 10px 10px 0px;
    
    
  }
  .my-chat-feature{
    align-content: right;
    width: 25vw;
    position: relative;
    color: black;
    // left: -3%;
    background-color: white;
    border-radius: 10px;
    margin-top: 5px;
  
  }
  .their-chat-feature{
    align-content: right;
    width: 25vw;
    position: relative;
    color: black;
    // left: -3%;
    background-color: white;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 25vw;
  
    // position: relative;
    // // left: 30%;
    // color: black;
    // background-color: white;
    // // width: auto;
    // border-radius: 10px;
    // margin-top: 5px;
  }
  .my-chat-name{
    font-size: 10px;
    margin-right: 45vw;
    padding-top: 4px;
    
  }
  .their-chat-name{
    font-size: 10px;
    margin-left: 40vw;
    padding-top: 4px;
    
  }
}
