.defaultDashboard {
  width: 100vw;
  height: 100vw;
  background-color: yellow;
}

.inputTitle {
  display: flex;
  font-family: "Prompt";
  text-align: initial;
  font-size: 17px;
  align-items: initial;

  div {
    width: 150px;
    text-decoration: underline;
    height: 30px;
    font-family: "Prompt";
    text-align: initial;
    // background-color: blue;
    // margin-right: 8vw;
  }
}

.listOfUsers {
  display: grid;
  grid-template-columns: 10% 10% 15% 15% 10% 10% 10%;
  font-family: "Prompt";
  text-align: initial;
  font-size: 17px;
  align-items: initial;

  .title {
    width: 91%;
    height: 30px;
    padding-left: 4px;
    font-family: "Prompt";
    text-align: initial;
    border: none;
    font-size: 17px;
    color: black;

    // align-items: initial;
  }
  .title:disabled::placeholder {
    width: 91%;
    height: 30px;
    padding-left: 4px;
    font-family: "Prompt";
    text-align: initial;
    color: black;
    border: none;

    font-size: 17px;

    // align-items: initial;
  }
  //   .title:focus {
  //     border-style: solid;
  //     border-width: 0.5px;
  //     color: grey;
  //   }
}
.title_disabled {
  width: 150px;
  height: 30px;
  padding-left: 4px;
  font-family: "Prompt";
  text-align: initial;
  color: black;
  border: none;

  font-size: 17px;
}

.staff_entry_container {
  display: grid;
  grid-template-columns: 10% 10% 15% 15% 10% 10% 10%;

  .staff_entry {
    width: 91%;
    padding-left: 8px;
    margin: 0px;
    height: 30px;
    font-size: 17px;
    font-family: "Prompt";
    text-align: initial;
    border-style: none;
  }
  .staff_entry:focus {
    border-style: solid;
    border-width: 0.5px;
    color: black;
  }
}

.edit_delete_container {
  display: flex;
}
.delete_button_staff {
  background-image: url(../assets/trash-icon.svg);
  background-position: center;
  background-position-y: -53px;
  background-size: 99px;
  z-index: 1;
  height: 36px;
  width: 36px;
  position: relative;
  background-repeat: no-repeat;
}

.edit_button_staff {
  background-image: url(../assets/edit-icon.svg);
  background-position: center;
  background-position-y: -53px;
  background-size: 99px;
  z-index: 1;
  height: 36px;
  width: 36px;
  position: relative;
  background-repeat: no-repeat;
}
.edit_button_staff:hover {
  fill: black;
}

// .edit_svg {
//   height: 36px;
//   width: 36px;
//   z-index: 1;

//   position: relative;
// }
.edit_svg:hover {
  fill: red;
  cursor: default;
}

<<<<<<< HEAD
.save_button_staff {
  background-image: url(../assets/save-icon.svg);
  background-position: center;
  background-position-y: -53px;
  background-size: 99px;
  z-index: 1;
  height: 36px;
  width: 36px;
  position: relative;
  background-repeat: no-repeat;
}

.cancel_button_staff {
  background-image: url(../assets/cancel-icon.svg);
  background-position: center;
  background-position-y: -53px;
  background-size: 99px;
  z-index: 1;
  height: 36px;
  width: 36px;
  position: relative;
  background-repeat: no-repeat;
}

.submit_new_staff_plus {
  background-image: url(../assets/add-icon.svg);
  background-position: center;
  background-position-y: -53px;
  background-size: 99px;
  z-index: 1;
  height: 36px;
  width: 36px;
  position: relative;
  background-repeat: no-repeat;
  margin-left: 30px;
}
=======
.dashboard-container{
  display: flex;
}
>>>>>>> master
