.staff-login{
    
      .phone-input{
      @include inputs(no-repeat, 10px, 15px, #666666, #ffffff, 300px, 50px,40px,'Prompt', 16px, 10px 0px,6px,none);
      background-image: url("../assets/phone-icon.svg");
      
      }
      
      .phone-input::placeholder{
        color: #ffffff
      }

      .toggle-group{
        display: flex;
        justify-content: center
      }
      .signup-text{
        text-align: center;
        font-family: 'Prompt';
        font-size: 12px;
        font-weight: 400;
        margin-top: 10px;
        width: 300px;
        color: #666666;
        
      }
      .login-button{
        background-color: #EEFF00;
        width: 300px;
        height: 50px;
        margin: 30px 0px;
        border-radius: 6px;
        border: none;
        font-family: 'Prompt';
        font-size: 16px;
        font-weight: 500;
        
      }
}



.pinValidation{
    .regular-text{
        font-family: 'Prompt';
        font-size: 16px;
        font-weight: 400;
        margin: 40px auto;
        width: 300px;
      }
      
      .back-arrow{
        height: 100px;
        position: fixed;
        top: 0%;
        left: 0%;
      }
      
      .verify-title{
        font-family: 'Prompt';
        margin: 80px auto;
      }
      
      .pin-input{
        background-image: url("../assets/pin-number.svg");
        @include inputs(no-repeat, 5px, 40px, #666666, #ffffff, 300px, 50px,50px,'Prompt', 16px, 10px,6px,none);
       
      }
      
      .pin-input::placeholder{
        color: #ffffff
      }
      
      .pin-input:focus::-webkit-input-placeholder {
        opacity: 0;
      }
      .login-button{
        background-color: #EEFF00;
        width: 300px;
        height: 50px;
        margin: 30px;
        border-radius: 6px;
        border: none;
        font-family: 'Prompt';
        font-size: 16px;
        font-weight: 500;
      }
      .no-pin-link{
        display: inline;
        font-family: 'Prompt';
        font-size: 14px;
        color: #666666;
      }
}

.report-emergency-page{
    .dark-background{
        height: 100vh;
        background-color: #666666;
      }
      .light-title{
        font-family: 'Prompt';
        margin: 0;
        font-size: 24px;
        font-weight: 500;
        color: black;
        padding-top: 90px;
        padding-bottom: 50px;
      }
      .emergency-button{
        display: flex;
        justify-content: center;
        background-color: #000000;
        color: #ffffff;
        width: 325px;
        height: 80px;
        font-family: 'Prompt';
        font-size: 16px;
        margin: 30px auto;
        border-radius: 6px;
        border: none;
      }
      
      .logout-button{
        background-color: #cccccc;
        width: 325px;
        height: 50px;
        margin-top: 30px;
        border-radius: 6px;
        border: none;
        font-family: 'Prompt';
        font-size: 16px;
        font-weight: 500;
      }
      
}

.confirm-emergency{
    
      .light-title{
        font-family: 'Prompt';
        padding-top: 100px;
        margin-top: 0;
        font-size: 24px;
        font-weight: 500;
        color: #ffffff;
      }
      h1{
          margin-top: 10vh;
      }
      .cancel-button{
        background-color: #cccccc;
        color: #000000;
        width: 300px;
        height: 50px;
        margin: 20px;
        border-radius: 6px;
        border: none;
        font-family: 'Prompt';
        font-size: 16px;
        font-weight: 500;
      }
      .dark-background{
        height: 100vh;
        background-color: #666666;
      }

     
      
}

.protocol-page{
    .neon-banner{
        height: 50px;
        background-color: #EEFF00;
        width: 100vw;
      }
    .dark-background{
        height: 100vh;
        background-color: #666666;
        width: 100vw;
      }
      .alarm-text{
        font-family: 'Prompt';
        font-size: 16px;
        font-weight: 500;
        padding: 17px;
        width: 100vw;
      }
      .logo{
        height: 10rem;
        margin: 10vh;
      }
      .light-title{
        font-family: 'Prompt';
        margin: 10px;
        font-size: 24px;
        font-weight: 500;
        color: #ffffff;
        width: 100vw;
      }
      .logout-button{
        background-color: #EEFF00;
        width: 300px;
        height: 50px;
        margin-top: 30px;
        margin-left: 0;
        border-radius: 6px;
        border: none;
        font-family: 'Prompt';
        font-size: 16px;
        font-weight: 500;
      }
      .protocol-list{
        text-align: left;
        font-family: 'Prompt';
        font-size: 16px;
        font-weight: 500;
        padding: 20px;
        color: #ffffff;
        width: 100vw;
        margin-left: 5vw;
        margin-right: 5vw;
      }
}
.status-page{
    .neon-banner{
        height: 50px;
        background-color: #EEFF00;
      }
    .dark-background{
        height: 100vh;
        background-color: #666666;
      }
      .light-title{
        font-family: 'Prompt';
        margin: 20px;
        font-size: 24px;
        font-weight: 500;
        color: #ffffff;
        padding: 30px 0px;
      }
      .problem-button{
        background-color: black;
        width: 325px;
        height: 80px;
        margin-top: 30px;
        border-radius: 6px;
        border: none;
        font-family: 'Prompt';
        font-size: 16px;
        font-weight: 500;
        color: #ffffff
      }
      
      .safe-button{
        background-color: black;
        width: 325px;
        height: 80px;
        margin-top: 30px;
        border-radius: 6px;
        border: none;
        font-family: 'Prompt';
        font-size: 16px;
        font-weight: 500;
        color: #ffffff
      }
      
      .status-text{
        color: #FFFFFF;
        font-family: 'Prompt';
        font-size: 16px;
        font-weight: 400;
        margin: 40px auto;
        width: 325px;
        line-height: 1.4;
        
      }
}