.protocols-container {
  width: 85vw;
  margin-left: 15vw;
  margin-top: 3vh;
}
.protocol-container {
  width: 82vw;
  background-color: lightgrey;
  height: 50px;
  margin: 15px;
  border-radius: 6px;
}
