.admin-header{
    background-color: #707070;
    height: 12vh;
    width: 100vw;
    border: #707070 solid 1px;
    box-shadow: 2px 2px;
}

.admin-sidebar{
    height: 100vw;
    width: 15vw;
    background-color: #c4c4c4;
    margin-top: 2px;
}