.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.email-input{
  background-image: url("assets/email-icon.png");
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 15px;
  background-color: #666666;
  color: #ffffff;
  width: 400px;
  height: 50px;
  text-indent: 40px;
  font-family: 'Prompt';
  font-size: 16px;
  margin: 10px;
  border-radius: 6px;
  border: none;
}

.password-input{
  background-image: url("assets/password-icon.png");
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 15px;
  background-color: #666666;
  color: #ffffff;
  width: 400px;
  height: 50px;
  text-indent: 40px;
  font-family: 'Prompt';
  font-size: 16px;
  margin: 10px;
  border-radius: 6px;
  border: none;
}

.email-input::placeholder{
  color: #ffffff
}

.password-input::placeholder{
  color: #ffffff
}

.email-input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.password-input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.login-button{
  background-color: #EEFF00;
  width: 400px;
  height: 50px;
  margin: 30px;
  border-radius: 6px;
  border: none;
  font-family: 'Prompt';
  font-size: 16px;
  font-weight: 500;
}

.signup-link{
  display: inline;
  font-family: 'Prompt';
  font-size: 20px;
  color: #666666;
}

.phone-input{
  background-image: url("assets/phone-icon.svg");
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 15px;
  background-color: #666666;
  color: #ffffff;
  width: 400px;
  height: 50px;
  text-indent: 40px;
  font-family: 'Prompt';
  font-size: 16px;
  margin-top: 10px;
  border-radius: 6px;
  border: none;
}

.phone-input::placeholder{
  color: #ffffff
}

.regular-text{
  font-family: 'Prompt';
  font-size: 16px;
  font-weight: 400;
  margin: 40px auto;
  width: 300px;
}

.back-arrow{
  height: 100px;
  position: fixed;
  top: 0%;
  left: 0%;
}

.verify-title{
  font-family: 'Prompt';
  margin: 80px auto;
}

.pin-input{
  background-image: url("assets/pin-number.svg");
  background-repeat: no-repeat;
  background-position: 5px;
  background-size: 40px;
  background-color: #666666;
  color: #ffffff;
  width: 400px;
  height: 50px;
  text-indent: 50px;
  font-family: 'Prompt';
  font-size: 16px;
  margin: 10px;
  border-radius: 6px;
  border: none;
}

.pin-input::placeholder{
  color: #ffffff
}

.pin-input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.logo{
  height: 80px;
  margin: 40px;
}

.login-title{
  font-family: 'Prompt';
  margin: 10px;
}

.toggle-text{
  font-family: 'Prompt';
  font-size: 18px;
  margin-top: 24px;
}

.toggle{
  margin: 20px;
}

.toggle-group{
  display: flex;
  justify-content: center
}

.signup-text{
  text-align: center;
  font-family: 'Prompt';
  font-size: 12px;
  font-weight: 400;
  margin-top: 10px;
  width: 400px;
  color: #666666
}

.signup-input{
  display: flex;
  background-color: #666666;
  color: #ffffff;
  width: 400px;
  height: 50px;
  text-indent: 15px;
  font-family: 'Prompt';
  font-size: 16px;
  margin: 30px auto;
  border-radius: 6px;
  border: none;
}

.signup-input::placeholder{
  color: #ffffff
}

.signup-input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.signup-title{
  font-family: 'Prompt';
  margin: 20px;
  font-size: 21px;
  font-weight: 400;
}

.signup-button{
  background-color: #EEFF00;
  width: 400px;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 200px;
  border-radius: 6px;
  border: none;
  font-family: 'Prompt';
  font-size: 16px;
  font-weight: 500;
}

.login-link{
  display: inline;
  font-family: 'Prompt';
  font-size: 18px;
  color: #666666;
}

.no-pin-link{
  display: inline;
  font-family: 'Prompt';
  font-size: 14px;
  color: #666666;
}

.dark-background{
  height: 100vh;
  background-color: #666666;
}

.neon-banner{
  height: 50px;
  background-color: #EEFF00;
}

.light-title{
  font-family: 'Prompt';
  margin: 20px;
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
}

.emergency-button{
  display: flex;
  justify-content: center;
  background-color: #000000;
  color: #ffffff;
  width: 400px;
  height: 50px;
  font-family: 'Prompt';
  font-size: 16px;
  margin: 30px auto;
  border-radius: 6px;
  border: none;
}

.logout-button{
  background-color: #EEFF00;
  width: 400px;
  height: 50px;
  margin-top: 30px;
  border-radius: 6px;
  border: none;
  font-family: 'Prompt';
  font-size: 16px;
  font-weight: 500;
}

input[type="range"] {
  height: 30px;
  width: 400px;
  margin: 100px;
  background: #eeeeee;
  -webkit-appearance: none;
  border-radius: 5px;
  transition: opacity 0.5s;
  position: relative;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 10px;
  background: url("assets/yes-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: -37px;
  background-size: 105px;
  z-index: 1;
  width: 100px;
  position: relative;
  height: 50px;
  box-shadow: 0px 0px 20px black;
}

input[type="range"]:before {
  content: "slide to confirm";
  color: #666666;
  position: absolute;
  padding-left: 190px;
  padding-top: 6px;
  z-index: 1;
  font-size: 14px;
}

.cancel-button{
  background-color: #EEFF00;
  color: #000000;
  width: 400px;
  height: 50px;
  margin: 30px;
  border-radius: 6px;
  border: none;
  font-family: 'Prompt';
  font-size: 16px;
  font-weight: 500;
}

.alarm-text{
  font-family: 'Prompt';
  font-size: 16px;
  font-weight: 500;
  padding: 17px;
}

.protocol-list{
  text-align: left;
  font-family: 'Prompt';
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
  color: #ffffff;
  margin-left: 35vw;
  margin-right: 35vw;
}

.problem-button{
  background-color: #FF3B00;
  width: 400px;
  height: 50px;
  margin-top: 30px;
  border-radius: 6px;
  border: none;
  font-family: 'Prompt';
  font-size: 16px;
  font-weight: 500;
  color: #ffffff
}

.safe-button{
  background-color: #00CC44;
  width: 400px;
  height: 50px;
  margin-top: 30px;
  border-radius: 6px;
  border: none;
  font-family: 'Prompt';
  font-size: 16px;
  font-weight: 500;
  color: #ffffff
}

.status-text{
  color: #FFFFFF;
  font-family: 'Prompt';
  font-size: 16px;
  font-weight: 400;
  margin: 40px auto;
  width: 400px;
  line-height: 1.4;
}