.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.email-input{
  background-image: url("assets/email-icon.png");
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 15px;
  background-color: #666666;
  color: #ffffff;
  width: 400px;
  height: 50px;
  text-indent: 40px;
  font-family: 'Prompt';
  font-size: 16px;
  margin: 10px;
  border-radius: 6px;
  border: none;
}

.password-input{
  background-image: url("assets/password-icon.png");
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 15px;
  background-color: #666666;
  color: #ffffff;
  width: 400px;
  height: 50px;
  text-indent: 40px;
  font-family: 'Prompt';
  font-size: 16px;
  margin: 10px;
  border-radius: 6px;
  border: none;
}

.email-input::placeholder{
  color: #ffffff
}

.password-input::placeholder{
  color: #ffffff
}

.email-input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.password-input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.login-button{
  background-color: #EEFF00;
  width: 400px;
  height: 50px;
  margin: 30px;
  border-radius: 6px;
  border: none;
  font-family: 'Prompt';
  font-size: 16px;
}

.signup-link{
  font-family: 'Prompt';
  font-size: 20px;
  color: #666666;
}