.logo{
    height: 80px;
    margin: 40px;
}

.login-title{
    font-family: 'Prompt';
    margin: 10px;
}

.toggle-text{
    font-family: 'Prompt';
    font-size: 18px;
    margin-top: 24px;
}

.toggle{
    margin: 20px;
}

.toggle-group{
    display: flex;
    justify-content: center
}

.signup-text{
    text-align: center;
    font-family: 'Prompt';
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
    width: 400px;
    color: #666666
}